@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

.title{
    font-size: 3vh;
    margin-bottom: 10px;
}

mat-card{
    background-color: #1b1b22;
    color:  white;
   width: 70vh;
}

mat-divider{
    margin-top: 5px;
    margin-bottom: 5px;
}

.main{
    display: flex;
  justify-content: center;
  align-items: center;
}

.divider{
    margin-top: 10px;
    margin-bottom: 10px;
}

.intitule{
    font-size: 2.8vh;
    font-family: 'Didact Gothic', sans-serif !important;

}