<div class = "title">ÉDUCATION</div>
<div class = "main">
    <mat-card><h1>Diplôme d'ingénieur</h1>
     
      <h1>
        2016 - 2019
     </h1>

       <h2>Systèmes Informatiques du transport aérien,
          Exploitation et planification aéroportuaire,
          Opérations Aériennes</h2>
       
  
      <h3>
        École Nationale de l'Aviation Civile 
      </h3>
      <h4>
        Toulouse
      </h4>
    
     
      
      <div class = "formation">
        <div class = "cours">
    
        </div>
       
        <div class = "projet">
    
          </div>
      </div></mat-card>
     
     
</div>
<mat-icon class='divider'>navigation</mat-icon>
<div class = "main">
    <mat-card><h1>Classe Préparatoire aux grandes écoles MPSI/MP*</h1>
      <h1>
        2014 - 2016
     </h1>
       <h2>Mathématiques Physique Science de l'ingénieur</h2>
       
    
      <h3>        
        Lycée La Martinière Monplaisir
      </h3>
      <h4>
        Lyon
      </h4>
      
      
      <div class = "formation">
        <div class = "cours">
    
        </div>
        
        <div class = "projet">
    
          </div>
      </div></mat-card>
     
     
</div>
<mat-icon class='divider'>navigation</mat-icon>
<div class = "main">
    <mat-card><h1>Baccalauréat Scientifique</h1>
      <h1>
        2014 
       </h1>
       <h2>Option Science de la Vie et de la Terre Spécialité Mathématiques</h2>
       <h4>Mention Très Bien avec Félicitations du Jury</h4>
      <h3>        
        Lycée Barthélémy de Laffemas
      </h3>
      <h4>
        Valence
      </h4>
      
   
      
      <div class = "formation">
        <div class = "cours">
    
        </div>
        
        <div class = "projet">
    
          </div>
      </div></mat-card>
</div>
<mat-icon class='divider'>navigation</mat-icon>
<div class = "main">
    <mat-card><h1>Brevet d'initiation à l'aéronautique</h1>
      <h1>
        2014 
       </h1>
       <h2>Option Anglais</h2>
       <h4>Mention Très Bien (96/100)</h4>
      <h3>        
        Lycée Barthélémy de Laffemas
      </h3>
      <h4>
        Valence
      </h4>
      
   
      
      <div class = "formation">
        <div class = "cours">
    
        </div>
        
        <div class = "projet">
    
          </div>
      </div></mat-card>
     
     
</div>