mat-toolbar{
    height : 3vh;
    background: linear-gradient(60deg,#00fff2,#006eff);
    align-self: center;
    margin-top : 10px;
      position: sticky;
      width: 100%  !important;
      position: -webkit-sticky; /* For macOS/iOS Safari */
      top: 0; /* Sets the sticky toolbar to be on top */
      z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
    .example-spacer {
        flex: 1 1 auto;
      }
}


