mat-toolbar{
    color: white;
    background-color: rgba($color: #000, $alpha: 0);
    font-family: 'Quicksand', sans-serif !important ;
}

.espace{
    flex: 1;
}

.icon {
    padding: 0 10px;
}

.titre{
    font-size: 30px;
    font-weight : 400;
}