

<mat-toolbar>
  <mat-toolbar-row>
    
    <span class="titre">MAROUANE AATEF</span>
    <mat-form-field class = "selector">
    <mat-label> <mat-icon class="icon" aria-hidden="false" >language</mat-icon></mat-label>
    <mat-select ><mat-option class="field">
      Français
    </mat-option>
    <mat-option class="field">
        English
      </mat-option>
  </mat-select>
</mat-form-field>

    </mat-toolbar-row>
    <mat-toolbar-row>
        <button class="icon">
            <mat-icon >favorite</mat-icon>
          </button>
    </mat-toolbar-row>
</mat-toolbar>