

<mat-toolbar>
  <mat-toolbar-row>
      <button mat-icon-button color="primary"  routerLink="/me">
          <mat-icon>face</mat-icon>
        </button>
        <span class="example-spacer" ></span>
      <button mat-icon-button color="primary" routerLink="/education">
          <mat-icon>school</mat-icon>
        </button>
        <span class="example-spacer"></span>
        <button mat-icon-button color="primary" routerLink="/experience">
            <mat-icon>work_outline</mat-icon>
          </button>
          <span class="example-spacer"></span>
          <button mat-icon-button color="primary" routerLink="/competences">
              <mat-icon>how_to_reg</mat-icon>
            </button>
            <span class="example-spacer"></span>
            <button mat-icon-button color="primary" routerLink="/interet">
                <mat-icon>favorite</mat-icon>
              </button>

    </mat-toolbar-row>
</mat-toolbar>