<div class = "title">EXPÉRIENCE</div>
<div class = "main">
    <mat-card><h1>Projet de fin d'études</h1>
     
      <h1>
        Février 2019 - Août 2019
     </h1>

       <h2>Développement d'un écran de supervision des déchargements de données de vol</h2>
       
  
      <h3>
       Air France 
      </h3>
      <h4>
        Toulouse
      </h4>
    
     
      
      <div class = "formation">
        <div class = "cours">
    
        </div>
       
        <div class = "projet">
    
          </div>
      </div></mat-card>
     
     
</div>
<mat-icon class='divider'>navigation</mat-icon>
<div class = "main">
  <mat-card><h1>Concours Rob'AFIS</h1>
   
    <h1>
      Septembre 2018 - Décembre 2018
   </h1>

     <h2>Concours étudiant de conception d’un robot à partir d’un cahier des charges.</h2>
     

    <h3>
     ENAC - AFIS
    </h3>
    <h4>
      Toulouse - Nancy
    </h4>
  
   
    
    <div class = "formation">
      <div class = "cours">
  
      </div>
     
      <div class = "projet">
  
        </div>
    </div></mat-card>
   
   
</div>
<mat-icon class='divider'>navigation</mat-icon>
<div class = "main">
  <mat-card><h1>Projet ARPC</h1>
    <h1>
      Septembre 2018 - Décembre 2018
   </h1>
     <h2>Adaptation de l’aéroport de St-Pierre Pierrefonds de la Réunion pour l’accueil de l’Airbus
      A330</h2>
    <h3>        
      ENAC
    </h3>
    <h4>
      Toulouse
    </h4>
    
    
    <div class = "formation">
      <div class = "cours">
  
      </div>
      
      <div class = "projet">
  
        </div>
    </div></mat-card>
   
   
</div>
<mat-icon class='divider'>navigation</mat-icon>
<div class = "main">
    <mat-card><h1>Stage de deuxième Année</h1>
      <h1>
        Juin 2018 - Septembre 2018
     </h1>
       <h2>Reproduction des éléments de bords animables par les données de vol</h2>
      <h3>        
        ATR
      </h3>
      <h4>
        Blagnac
      </h4>
      
      
      <div class = "formation">
        <div class = "cours">
    
        </div>
        
        <div class = "projet">
    
          </div>
      </div></mat-card>
     
     
</div>
<mat-icon class='divider'>navigation</mat-icon>
<div class = "main">
    <mat-card><h1>Étude ENVOL</h1>
      <h1>
        Juin 2018
       </h1>
       <h2>Création d’un logiciel de calcul et d’affichage de surfaces isochrones autour d’aéroports pour Vinci Airport</h2>
       
      <h3>        
        ENAC - VINCI Airport
      </h3>
      <h4>
       Toulouse
      </h4>
      
   
      
      <div class = "formation">
        <div class = "cours">
    
        </div>
        
        <div class = "projet">
    
          </div>
      </div></mat-card>
</div>
<mat-icon class='divider'>navigation</mat-icon>
<div class = "main">
  <mat-card><h1>Projet ARPEX</h1>
    <h1>
     Mars 2018 - Mai 2018
     </h1>
     <h2>État de l’art et étude des impacts sur les installations et les opérations de la mise en
      place du Self-Connect dans un aéroport.</h2>
     
    <h3>        
      ENAC - VINCI Airport
    </h3>
    <h4>
     Toulouse
    </h4>
    
 
    
    <div class = "formation">
      <div class = "cours">
  
      </div>
      
      <div class = "projet">
  
        </div>
    </div></mat-card>
</div>
<mat-icon class='divider'>navigation</mat-icon>
<div class = "main">
    <mat-card><h1>Stage de découverte de l'entreprise</h1>
      <h1>
        Juin 2017 - Août 2017
       </h1>
       <h2>Création d'une base de données des pièces détachées des machines de production</h2>
       
      <h3>        
        SPIT
      </h3>
      <h4>
        Bourg-lès-Valence
      </h4>
      
   
      
      <div class = "formation">
        <div class = "cours">
    
        </div>
        
        <div class = "projet">
    
          </div>
      </div></mat-card>
</div>
<mat-icon class='divider'>navigation</mat-icon>
<div class = "main">
  <mat-card><h1>Rayonniste</h1>
    <h1>
      Étés 2011 à 2016
     </h1>
     <h2>Réception des commandes, gestion du stocks, inventaires, tâches informatiques diverses</h2>
     
    <h3>        
      Pharmacie du Palais
    </h3>
    <h4>
      Valence
    </h4>
    
 
    
    <div class = "formation">
      <div class = "cours">
  
      </div>
      
      <div class = "projet">
  
        </div>
    </div></mat-card>
</div>