<div class = "title">EXPÉRIENCE</div>
<div class = "main">
    <mat-card><h1>Projet de fin d'études</h1>
     
      <h1>
        Février 2019 - Août 2019
     </h1>

       <h2>Développement d'un écran de supervision des déchargements de données de vol</h2>
       
  
      <h3>
       Air France 
      </h3>
      <h4>
        Toulouse
      </h4>
    
     
      
      <div class = "formation">
        <div class = "cours">
    
        </div>
       
        <div class = "projet">
    
          </div>
      </div></mat-card>
     
     
</div>
<mat-icon class='divider'>navigation</mat-icon>
<div class = "main">
    <mat-card><h1>Stage de deuxième Année</h1>
      <h1>
        Juin 2018 - Septembre 2018
     </h1>
       <h2>Reproduction des éléments de bords animables par les données de vol</h2>
       
    
      <h3>        
        ATR
      </h3>
      <h4>
        Blagnac
      </h4>
      
      
      <div class = "formation">
        <div class = "cours">
    
        </div>
        
        <div class = "projet">
    
          </div>
      </div></mat-card>
     
     
</div>
<mat-icon class='divider'>navigation</mat-icon>
<div class = "main">
    <mat-card><h1>Stage de découverte de l'entreprise</h1>
      <h1>
        Juin 2017 - Août 2017
       </h1>
       <h2>Création d'une base de données des pièces détachées des machines de production</h2>
       
      <h3>        
        SPIT
      </h3>
      <h4>
        Bourg-lès-Valence
      </h4>
      
   
      
      <div class = "formation">
        <div class = "cours">
    
        </div>
        
        <div class = "projet">
    
          </div>
      </div></mat-card>
</div>
<mat-icon class='divider'>navigation</mat-icon>
<div class = "main">
  <mat-card><h1>Rayonniste</h1>
    <h1>
      Étés 2011 à 2016
     </h1>
     <h2>Réception des commandes, gestion du stocks, inventaires, tâches informatiques diverses</h2>
     
    <h3>        
      Pharmacie du Palais
    </h3>
    <h4>
      Valence
    </h4>
    
 
    
    <div class = "formation">
      <div class = "cours">
  
      </div>
      
      <div class = "projet">
  
        </div>
    </div></mat-card>
</div>