@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Dosis');


.titre{
    height: 100%;
    font-size: 10vh;
    font-weight : 200 !important; 
    text-align: center;
    background: linear-gradient(60deg,#00fff2,#006eff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: rgba($color: #fff, $alpha: 0);
    font-family: 'Dosis', sans-serif;

}

.sous-titre{
    height: 100%;
    font-size: 4vh;
    font-weight : 100 !important; 
    text-align: center;
    background: linear-gradient(60deg,#00fff2,#006eff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: rgba($color: #fff, $alpha: 0);
    font-family: 'Montserrat', sans-serif;

}
.title{
    .example-spacer {
        flex: 1 1 auto;
      }

}
