@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');

.titre{
    height: 100%;
    font-size: 20vh;
    font-weight : 200 !important; 
    text-align: center;
    background: linear-gradient(60deg,#38cbec,#05449c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: rgba($color: #fff, $alpha: 0);
    font-family: 'Just Another Hand', cursive !important;

}